<app-home></app-home>

<mat-card>
    <mat-card-title> <h1>Ola sou o Ysrael</h1> </mat-card-title>
    <mat-card-content>
        <p>Ola sou Ysrael, sou um desenvolvedor e aprendiz de desenvolvimento web.
tenho 16 anos e sempre gostei de construir sites por hobby, mas no ano de 2020 e 2021 venho estudando formas de fazer sites, estudei e domino as seguintes tecnologias
django, html, frameworks css, Angular.



atualmente pretendo ingressar no mercado de trabalho, precisamente na minha area que é o desenvolvimento web.

futuramente desejo estudar o desenvolvimento de block-chain para fazer dapps que eu acredito que podera subsitituir os back-ends "tradicionais".
        </p>    
</mat-card-content>
</mat-card>

